body{

    background-color:  white;
    font-size: 30px;
}

section.wrapper-main {
    margin: 0 auto;
    width: 900px !important;
    display: flex;
    justify-content: center !important;
    align-items: center;
    
}

table, th, td{
    border-collapse: collapse;
    padding: 20px;
}


table {
    width: 100%;
    border: 2px solid black;


    
}

th{
    border: 2px solid black;
}

td{
    border: 1px solid black;
}

/*table tr:nth-child(even){
 background-color: aqua;
}